<!doctype html>
<html>
  <head>
    <title> Main Page </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css" id="stylelink">
    <script id="TheScript" src="Script.js" defer></script>
  </head>
  <body>
  <div> <h1> Template </h1> <nav> <button onclick="linkbtn('index.html')"> To Main Page </button> <button onclick="linkbtn('game.html')"> To Game </button> <button onclick="linkbtn('settings.html')"> To Settings </button> <button onclick="linkbtn('playground.html')"> To Playground </button> </nav> </div>
  </body>
</html>