:root {
    --td: 0.4s;
    --divb: #1f1f1f;
    --mbc: #000;
    --mfc: #fff;
}
html {
 color: var(--mfc);
 background-color: var(--mbc);
}
p {
 font-family: helvetica;
 color: var(--mfc);
 transition-duration: 0.4s;
}
 body {
 background-color: var(--mbc);
 transition-duration: 0.4s;
 }
 div {
 background-color: var(--divb);
 padding: 20px;
 box-shadow: 0 8px 16px 0 rgba(63,63,63,0.2), 0 6px 20px 0 rgba(63,63,63,0.19);
 border-radius: 16px;
 margin: 16px;
 transition-duration: 0.4s;
}
 h1 {
 font-family: georgia;
 color: var(--mfc);
 transition-duration: 0.4s;
}
 button {
 background-color: #1A7569;
 display: inline-block;
 border-radius: 8px;
 border: none;
 box-shadow: 0 8px 16px 0 rgba(63,63,63,0.2), 0 6px 20px 0 rgba(63,63,63,0.19);
 font-family: helvetica;
 color: var(--mfc);
 font-size: 16px;
 padding: 5px;
 transition-duration: 0.4s;
}
 button:hover {
 background-color: #1E8A7C;
 box-shadow: 0 8px 16px 0 rgba(63,63,63,0.3), 0 6px 20px 0 rgba(63,63,63,0.29);
 font-size: 17px;
 cursor: pointer;
}
 button:disabled {
 background-color: #197468;
 cursor: not-allowed;
 opacity: 0.6;
}
 button:active {
 background-color: #00B39B;
 box-shadow: 0 8px 16px 0 rgba(63,63,63,0.3), 0 6px 20px 0 rgba(63,63,63,0.29);
 font-size: 16px;
 cursor: pointer;
}
 .buttonalt {
 background-color: #474747;
 display: inline-block;
 border-radius: 8px;
 border: none;
 box-shadow: 0 8px 16px 0 rgba(63,63,63,0.2), 0 6px 20px 0 rgba(63,63,63,0.19);
 font-family: helvetica;
 color: var(--mfc);
 font-size: 16px;
 padding: 5px;
 transition-duration: 0.4s;
}
 .buttonalt:hover {
 background-color: #545454;
 box-shadow: 0 8px 16px 0 rgba(63,63,63,0.3), 0 6px 20px 0 rgba(63,63,63,0.29);
 font-size: 17px;
 cursor: pointer;
}
 .buttonalt:disabled {
 background-color: #474747;
 cursor: not-allowed;
 opacity: 0.6;
}
 .buttonalt:active {
 background-color: #595959;
 box-shadow: 0 8px 16px 0 rgba(63,63,63,0.3), 0 6px 20px 0 rgba(63,63,63,0.29);
 cursor: pointer;
 font-size: 16px;
}
 iframe {
 border: 1px solid var(--mfc);
 margin: 10px
 }
 dfn {
 font-weight: bold;
 font-style: italic;
 color: #93FFFF;
 }
 canvas {
     border: 2px solid #808080
 }
 @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
 #Spinner1 {
     animation: spin 1s linear infinite;
     width: 120px;
     height: 120px;
     border-radius: 50%;
     background-image: conic-gradient(red, orange, orange, yellow, yellow, green, green, blue, blue, indigo, indigo, violet, violet, red)
 }
 /* Edit This Note So You Can Fetch Origin I Guess */